@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=New+Tegomin&family=Open+Sans:wght@600&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: black;
}

::-webkit-scrollbar{
    display: none;
}

.nav-container{
    color: white;
    display: flex;
    line-height: 4rem;

    .logo{
        margin: 0% 2%;

        h1{
            position: fixed;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;

            a{
                color: gray;
            }
        }

        p{
            margin: 50% 0%;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            line-height: 1.5rem;
        }
    }

    .info{
        position: fixed;

        h1{
            position: fixed;
            margin-left: 95%;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;

            a{
                color: gray;
            }

            a:hover{
                color: white;
            }
        }
    }

}

.head-container{
    color: white;

    .head-flex{
        display: flex;
        
        .head-left{
            flex-basis: 50%;
            line-height: 8rem;

            h1{
                font-size: 100px;
            }

            h1 span{
                font-family: 'New Tegomin', serif;
                font-size: 50px;
            }
            h2{
                padding: 0% 2%;
                width: 150%;
                font-size: 120px;
                font-family: 'New Tegomin', serif;
            }
        }

        .head-right{
            flex-basis: 50%;
            z-index: -1;

            #slider{
                width: 80%;

                .slides{
                    overflow: hidden;
                    display: none;
                }

                img{
                    width: 100%;
                }
            }
        }
    }

    .social-flex{
        display: flex;
        line-height: 4rem;

        .social-left{
            flex-basis: 80%;
            padding: 0% 1%;

            a{
                color: gray;  
                font-size: 20px;
                font-family: 'Libre Franklin', sans-serif;
            }

            a:hover{
                color: white;
            }
        }

        .social-right{
            flex-basis: 20%;

            a{
                color: gray;
                font-size: 20px;
                font-family: 'Libre Franklin', sans-serif;

                i{
                    padding: 0% 2%;
                }
            }

            a:hover{
                color: white;
            }
        }
    }
}


.case-container{

    .case-heading{
        padding: 10% 0%;
    
        p{
            margin: 0% 5%;
            font-family: 'Open Sans', sans-serif;
            color: white;
        }

        h1{
            margin: 0% 15%;
            font-family: 'Libre Franklin', sans-serif;
            font-size: 70px;
            color: white;

        }

        h2{
            margin: 0% 5%;
            font-family: 'Libre Franklin', sans-serif;
            font-size: 60px;
            color: white;
        }
    }

        .case-flex{
            display: flex;
            text-align: center;

            .case-left{
                flex-basis: 50%;
                margin: 8% 0%;

                img{
                    margin-left: 40%;
                    width: 35%;
                }
            }

            .case-right{
                margin: 0% 0%;
                flex-basis: 50%;

                img{
                    width: 80%;
                }
            }
        }
}

.pro1-container{

    .pro1-heading{
        padding: 0% 4%;
        display: flex;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;

        p{
            font-size: 18px;
            letter-spacing: .1rem;
        }

        h2{
            margin-left: 20%;
            font-size: 18px;
            font-weight: 100;
            letter-spacing: .1rem;
        }
    }
    .pro1-heading2{
        padding: 5% 4%;
        display: flex;
        color: white;

        p{
            font-size: 18px;
            font-family: 'Roboto Condensed', sans-serif;
        }

        h1{
            width: 60%;
            margin-left: 12%;
            font-size: 30px;
            font-family: 'Libre Franklin', sans-serif;
        }
    }

    .project-1{

        img{
            width: 100%;
        }

        ul li {
            margin: 2% 20%;
            color: rgba(255, 255, 255, 0.356);
            list-style: disc;
        }

        ul li a{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.356);
            font-family: 'Open Sans', sans-serif;
        }

        i{
            margin-left: 1%;
            color: rgba(255, 255, 255, 0.356);
        }

    }
}

.pro2-container{
    margin: 10% 0%;

    img{
        margin-left: -4%;
        width: 40%;
    }

    .pro2-heading{
        padding: 5% 4%;
        display: flex;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;

        p{
            font-size: 18px;
            letter-spacing: .1rem;
        }

        h2{
            margin-left: 20%;
            font-size: 18px;
            font-weight: 100;
            letter-spacing: .1rem;
        }
    }

    .pro2-flex{
        color: white;
        display: flex;

        .pro2-left{
            flex-basis: 85%;
            padding: 0% 4%;

            h1{
                width:70%;
                font-size: 30px;
                font-family: 'Libre Franklin', sans-serif;
            }
        }

        .pro2-right{
            flex-basis: 15%;

            p{
                font-size: 18px;
                font-family: 'Roboto Condensed', sans-serif;
            }
        }
    }

    .project-2{

        .float{
            overflow: hidden;
            transform: translatey(0px);
            animation: float 5s ease-in-out infinite;
        }
        @keyframes float {
            0% {
                transform: translatey(0px);
            }
            50% {
                transform: translatey(-20px);
            }
            100% {
                transform: translatey(0px);
            }
        }
        img{
            margin: 5% 25%;
            width: 50%;
        }

        ul li {
            margin-left: 10%;
            color: rgba(255, 255, 255, 0.356);
            list-style: disc;
        }

        ul li a{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.356);
            font-family: 'Open Sans', sans-serif;
        }

        i{
            margin-left: 1%;
            color: rgba(255, 255, 255, 0.356);
        }

    }
}

.pro3-container{
    margin: 10% 0%;

    .pro3-heading{
        padding: 0% 4%;
        display: flex;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;

        p{
            font-size: 18px;
            letter-spacing: .1rem;
        }

        h2{
            margin-left: 20%;
            font-size: 18px;
            font-weight: 100;
            letter-spacing: .1rem;
        }
    }

    .pro3-flex{
        padding: 5% 0%;
        color: white;
        display: flex;

        .pro3-left{
            flex-basis: 26%;
            padding: 0% 4%;

            p{
                font-size: 18px;
                font-family: 'Roboto Condensed', sans-serif;
            }
        }

        .pro3-right{
            flex-basis: 64%;

            h1{
                width: 55%;
                font-size: 30px;
                font-family: 'Libre Franklin', sans-serif;
            }
        }
    }

    .project-3{

        img{
            width: 100%;
        }

        ul li {
            margin: 2% 15%;
            color: rgba(255, 255, 255, 0.356);
            list-style: disc;
        }

        ul li a{
            font-size: 15px;
            color: rgba(255, 255, 255, 0.356);
            font-family: 'Open Sans', sans-serif;
        }

        i{
            margin-left: 1%;
            color: rgba(255, 255, 255, 0.356);
        }

    }

}

.about-container{
    padding: 2% 4%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.356);

    h1{
        width: 55%;
        color: white;
        font-size: 45px;
        font-family: 'Libre Franklin', sans-serif;

        a{
            color: white;
            text-decoration: underline;

            i{
                padding: 0% 1%;
                transform: rotate(-45deg);
            }
        }

        a:hover{
            color: rgba(255, 255, 255, 0.356);
        }
    }
}

.footer-container{

    p{
        margin: 2% 5%;
        color: white;
        font-size: 15px;
        font-family: 'Libre Franklin', sans-serif;
    }

    .social-links{
        text-align: center;

        ul{
            padding: 4% 0rem;
            border-bottom: 2px solid gray;
        }

        ul li a{
            color: white;
            font-size: 60px;
            font-family: 'Open Sans', sans-serif;
            border-bottom: 2px solid white;
        }

        ul li a:hover{
            color: gray;
        }
    }

    h2{
        padding: 1% 0%;
        color: white;
        font-size: 15px;
        font-family: 'Libre Franklin', sans-serif;
        line-height: 3rem;
    }
}

@media (max-width: 1200px){

    .nav-container{
    
        .info{
    
            h1{
                margin-left: 94%;
            }
        }
    
    }

    .head-container{
    
        .head-flex{
            display: flex;
            
            .head-left{
                flex-basis: 50%;
                line-height: 6rem;
    
                h1{
                    width: 160%;
                    font-size: 70px;
                }
    
                h1 span{
                    font-size: 40px;
                }
                h2{
                    padding: 0% 0%;
                    width: 165%;
                    font-size: 80px;
                }
            }
    
            .head-right{
                flex-basis: 50%;
                z-index: -1;
    
                #slider{
                    width: 80%;
    
                    .slides{
                        overflow: hidden;
                        display: none;
                    }
    
                    img{
                        width: 100%;
                    }
                }
            }
        }
    
        .social-flex{
            line-height: 3rem;
    
            .social-left{
                flex-basis: 75%;
                padding: 0% 1%;
    
                a{
                    font-size: 18px;
                }
    
            }
    
            .social-right{
                flex-basis: 25%;
    
                a{
                    font-size: 18px;
                }
    
            }
        }
    }
    
    .case-container{

        .case-heading{
            padding: 10% 0%;
    
            h1{
                margin: 0% 15%;
                font-size: 60px;
    
            }
    
            h2{
                font-size: 50px;
            }
        }
    
            .case-flex{
    
                .case-left{
    
                    img{
                        margin-left: 50%;
                        width: 35%;
                    }
                }
            }
    }
    
    .pro1-container{

        .pro1-heading2{
    
            p{
                width: 25%;
            }
    
            h1{
                width: 80%;
            }
        }
    
    }
    
    .pro2-container{
    
        .pro2-flex{
    
            .pro2-left{
                flex-basis: 80%;
                padding: 0% 4%;
    
                h1{
                    width: 100%;
                    font-size: 28px;
                }
            }
    
            .pro2-right{
                flex-basis: 20%;
            }
        }
    }

    .pro3-container{


        .pro3-flex{
    
            .pro3-left{
                flex-basis: 28%;
            }
    
            .pro3-right{
                flex-basis: 62%;
    
                h1{
                    width: 60%;
                }
            }
        }
    }   

    .about-container{
    
        h1{
            width: 70%;
        }
    }

}

@media (max-width: 800px){

    .nav-container{
    
        .info{
    
            h1{
                margin-left: 92%;
            }
        }
    
    }

    .head-container{
    
        .head-flex{
            display: flex;
            
            .head-left{
                flex-basis: 50%;
                line-height: 6rem;
    
                h1{
                    width: 160%;
                    font-size: 60px;
                }
    
                h1 span{
                    font-size: 30px;
                }
                h2{
                    padding: 0% 0%;
                    width: 165%;
                    font-size: 75px;
                }
            }
    
            .head-right{
                flex-basis: 50%;
                z-index: -1;
    
                #slider{
                    width: 80%;
    
                    .slides{
                        overflow: hidden;
                        display: none;
                    }
    
                    img{
                        width: 100%;
                    }
                }
            }
        }
    
        .social-flex{
            line-height: 3rem;
    
            .social-left{
                flex-basis: 70%;
                padding: 0% 1%;
    
                a{
                    font-size: 18px;
                }
    
            }
    
            .social-right{
                flex-basis: 30%;
    
                a{
                    font-size: 18px;
                }
    
            }
        }
    }
    
    .case-container{

        .case-heading{
            padding: 10% 0%;
    
            h1{
                margin: 0% 10%;
                font-size: 50px;
    
            }
    
            h2{
                font-size: 40px;
            }
        }
    
            .case-flex{
    
                .case-left{
    
                    img{
                        margin-left: 55%;
                        width: 35%;
                    }
                }
            }
    }
    
    .pro1-container{

        .pro1-heading2{
    
            p{
                width: 25%;
            }
    
            h1{
                margin-left: 6%;
                width: 80%;
                font-size: 25px;
            }
        }
    
    }
    
    .pro2-container{
    
        .pro2-flex{
    
            .pro2-left{
                flex-basis: 85%;
                padding: 0% 4%;
    
                h1{
                    width: 100%;
                    font-size: 24px;
                }
            }
    
            .pro2-right{
                flex-basis: 25%;
            }
        }
    }

    .pro3-container{


        .pro3-flex{
    
            .pro3-left{
                flex-basis: 30%;
            }
    
            .pro3-right{
                flex-basis: 70%;
    
                h1{
                    width: 70%;
                    font-size: 25px;
                }
            }
        }
    }   

    .about-container{
    
        h1{
            width: 80%;
            font-size: 40px;
        }
    }

}

@media (max-width:600px){

    .nav-container{
    
        .info{
    
            h1{
                margin-left: 86%;
            }
        }
    
    }

    .head-container{
    
        .head-flex{
            display: flex;
            
            .head-left{
                flex-basis: 50%;
                line-height: 3.4rem;
    
                h1{
                    width: 160%;
                    font-size: 30px;
                }
    
                h1 span{
                    font-size: 20px;
                }
                h2{
                    padding: 0% 0%;
                    width: 165%;
                    font-size: 40px;
                }
            }
    
            .head-right{
                flex-basis: 50%;
                z-index: -1;
    
                #slider{
                    width: 90%;
    
                    .slides{
                        overflow: hidden;
                        display: none;
                    }
    
                    img{
                        width: 100%;
                    }
                }
            }
        }
    
        .social-flex{
            display: block;
            line-height: 3rem;
    
            .social-left{
                flex-basis: 50%;
                padding: 0% 1%;
    
                a{
                    font-size: 18px;
                }
    
            }
    
            .social-right{
                flex-basis: 50%;
                margin: 0% 20%;
                width: 80%;
    
                a{
                    font-size: 18px;
                }
    
            }
        }
    }
    
    .case-container{

        .case-heading{
            padding: 10% 0%;
        
            p{
                margin: 0% 5%;
            }
    
            h1{
                margin: 5% 5%;
                font-size: 35px;

                svg{
                    width: 25px;
                    height: 25px;
                }
            }
    
            h2{
                margin: 0% 5%;
                font-size: 30px;
            }
        }
    
            .case-flex{
                display: block;
                text-align: start;
                margin: 0% 4%;
    
                .case-left{
                    flex-basis: 50%;
                    margin: 8% 0%;
    
                    img{
                        margin-left: 0%;
                        width: 50%;
                    }
                }
    
                .case-right{
                    margin: 0% 0%;
                    flex-basis: 50%;
    
                    img{
                        width: 100%;
                    }
                }
            }
    }
    
    .pro1-container{
    
        .pro1-heading{
            padding: 4% 4%;
            display: flex;
    
            p{
                font-size: 18px;
                letter-spacing: .1rem;
            }
    
            h2{
                font-size: 18px;
                letter-spacing: .1rem;
            }
        }
        .pro1-heading2{
            padding: 5% 4%;
            display: block;
    
            p{
                width: 100%;
                font-size: 18px;
            }
    
            h1{
                width: 100%;
                margin: 6% 0%;
                font-size: 25px;
            }
        }
    
        .project-1{
    
            img{
                width: 100%;
            }
    
        }
    }
    
    .pro2-container{
        margin: 10% 0%;
    
        img{
            margin-left: -4%;
            width: 60%;
        }
    
        .pro2-heading{
            padding: 5% 4%;
            display: block;
    
            p{
                font-size: 18px;
                letter-spacing: .1rem;
            }
    
            h2{
                margin: 6% 0%;
                font-size: 18px;
                letter-spacing: .1rem;
            }
        }
    
        .pro2-flex{
            display: block;
    
            .pro2-left{
                flex-basis: 85%;
                padding: 0% 4%;
    
                h1{
                    width: 100%;
                    font-size: 20px;
                }
            }
    
            .pro2-right{
                flex-basis: 15%;
                margin: 4% 4%;
            }
        }
    
        .project-2{
    
            img{
                margin: 5% 20%;
                width: 60%;
            }
    
        }
    }
    
    .pro3-container{
        margin: 10% 0%;
    
        img{
            margin-left: -4%;
            width: 40%;
        }
    
        .pro3-heading{
            padding: 5% 4%;
            display: flex;
    
            p{
                font-size: 18px;
                letter-spacing: .1rem;
            }
    
            h2{
                margin-left: 20%;
                font-size: 18px;
                font-weight: 100;
                letter-spacing: .1rem;
            }
        }
    
        .pro3-flex{
            display: block;
            padding: 0% 4%;
    
            .pro3-left{
                flex-basis: 26%;
                padding: 8% 0%;
    
                p{
                    font-size: 18px;
                }
            }
    
            .pro3-right{
                flex-basis: 64%;
    
                h1{
                    width: 100%;
                    font-size: 26px;
                }
            }
        }
    
        img{
            margin: 5% 0%;
            width: 100%;
        }
    }
    
    .about-container{
        padding: 2% 0%;
    
        h1{
            width: 100%;
            font-size: 30px;
        }
    }
    
    .footer-container{
    
        p{
            margin: 2% 5%;
            color: white;
            font-size: 15px;
        }
    
        .social-links{

    
            ul li a{
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 380px){

    .case-container{

        .case-heading{
    
            h1{
                margin: 5% 5%;
                font-size: 30px;

                svg{
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}

@media (max-width: 330px) {

    .head-container{
    
        .head-flex{
            display: flex;
            
            .head-left{
                h2{
                    padding: 0% 0%;
                    width: 165%;
                    font-size: 34px;
                }
            }
        }
    
        .social-flex{
    
            .social-right{
                flex-basis: 50%;
                margin: 0% 30%;
                width: 70%;
    
                a{
                    font-size: 18px;
                }
    
            }
        }
    }

    .case-container{

        .case-heading{
    
            h1{
                margin: 5% 5%;
                font-size: 26px;

                svg{
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}

@media (max-width: 310px) {

    .head-container{
    
        .head-flex{
            display: flex;
            
            .head-left{
                h2{
                    font-size: 18px;
                }
            }
        }

        .social-flex{
            display: block;
            line-height: 3rem;
    
            .social-left{
                flex-basis: 50%;
                padding: 0% 1%;
    
                a{
                    font-size: 15px;
                }
    
            }
    
            .social-right{
                flex-basis: 50%;
                margin: 0% 10%;
                width: 80%;
    
                a{
                    font-size: 15px;
                }
    
            }
        }
    }


}

